mat-card {
  max-width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  box-sizing: border-box;
}

mat-card-title {
  font-size: 24px;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

mat-form-field {
  flex-grow: 1;
}

table {
  width: 100%;
}

mat-header-cell,
mat-cell {
  padding: 0.5rem;
}

mat-header-cell {
  background-color: #2196f3;
  color: white;
  font-weight: bold;
}

.generate-report {
  background-color: #007bff !important;
}

.clear-log {
  margin-left: 1rem;
  background-color: #f44336 !important;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
