mat-card {
  max-width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  box-sizing: border-box;
}

mat-card-title {
  font-size: 24px;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

mat-header-cell,
mat-cell {
  padding: 0.5rem;
}

mat-header-cell {
  background-color: #2196f3;
  color: white;
  font-weight: bold;
}

.generate-report {
  margin-bottom: 1rem;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

