<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Request Type</mat-label>
    <mat-select [(ngModel)]="requestType">
      <mat-option *ngFor="let type of requestTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Endpoint</mat-label>
    <input matInput [(ngModel)]="endpoint">
    <button mat-icon-button matSuffix aria-label="Suggest Endpoint" (click)="suggestEndpoint()">
      <mat-icon>auto_fix_high</mat-icon>
    </button>
  </mat-form-field>

  <div>
    <h3>Headers</h3>
    <div *ngFor="let header of headers; let i = index">
      <mat-form-field appearance="fill" class="header-key">
        <mat-label>Key</mat-label>
        <input matInput [(ngModel)]="headers[i].key">
      </mat-form-field>
      <mat-form-field appearance="fill" class="header-value">
        <mat-label>Value</mat-label>
        <input matInput [(ngModel)]="headers[i].value">
      </mat-form-field>
      <button mat-button (click)="removeHeader(header.key)">Remove</button>
    </div>
    <button mat-raised-button color="primary" (click)="addHeader()">Add Header</button>
  </div>

  <div *ngIf="isRequestBodyRequired()">
    <h3>Request Body</h3>
    <div class="request-body">
      <textarea [(ngModel)]="requestBody" rows="10" cols="50"></textarea>
      <button mat-icon-button aria-label="Suggest Request Body" (click)="generateRequestBody()">
        <mat-icon>auto_fix_high</mat-icon>
      </button>
    </div>
  </div>



  <div *ngIf="errorMessage" class="error-message">
    {{errorMessage}}
  </div>

  <div *ngIf="successMessage" class="success-message">
    {{successMessage}}
  </div>


  <!-- Add this block right above the "Send Request" button -->
  <div *ngIf="response" class="response-section">
    <h3>Response:</h3>
    <table mat-table [dataSource]="response" class="mat-elevation-z8">
      <!-- Generate columns dynamically -->
      <ng-container *ngFor="let column of columns">
        <ng-container matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>


  <button mat-raised-button color="primary" (click)="sendRequest()">Send Request</button>

</div>
