@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.header-key,
.header-value {
  flex-grow: 1;
}

.header-value {
  margin-left: 16px;
}

.remove-header {
  margin-left: 16px;
}

.json-input {
  font-family: 'Source Code Pro', monospace;
  white-space: pre;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.error-message {
  color: red;
  margin: 1rem 0;
}

.response-section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

table {
  width: 100%;
  margin-top: 1rem;
}

.mat-header-cell,
.mat-cell {
  padding: 0.5rem;
  text-align: left;
}

.error-response {
  color: red;
}

.request-body {
  position: relative;
}

.request-body textarea {
    width: 100%;
    box-sizing: border-box;
}

.request-body button {
    position: absolute;
    top: -12px;
    right: 0;
}

/* Add this style to your postman.component.css file */
textarea {
  width: 100%;
  resize: vertical; /* Allows vertical resizing of the textarea */
}

.request-body {
  position: relative;
}

  .request-body textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
  }

  .request-body button {
    position: absolute;
    top: -12px;
    right: 0;
  }


.success-message {
  color: green;
}
