<nav class="navbar navbar-expand-sm navbar-light bg-primary" style="padding-top: 0; padding-bottom: 0; line-height: 50px; max-height: 50px">
  <a class="navbar-brand text-white ml-3 align-middle" href="#" style="font-size: 20px;">
    <img src="../../assets/APIMe-2.png" alt="Brand logo" class="mr-2" style="max-width: 100px; height: auto; max-height: 30px; margin-top: -5px">
    APIMe!
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mr-3">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Sections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/privacy']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"> Privacy </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Routes Log</a>
      </li>
    </ul>
    <div class=" navbar-collapse justify-content-end" id="navbarNav">
      <ul  *ngIf='!isUserAuthenticated' class="navbar-nav mr-3 ml-auto">
        <li class="nav-item">     
          <a class="nav-link text-white" [routerLink]="['authentication/login']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Login</a>
        </li>
        <li class="nav-item" style="margin-right: 10px;">
          <a class="nav-link text-white" [routerLink]="['authentication/register']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Register</a>
        </li>
      </ul>


      <ul *ngIf='isUserAuthenticated' class="navbar-nav mr-3 ml-auto">
        <li class="nav-item">
          <button class="btn btn-link text-white" [routerLink]="['account/profile']">Profile</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link text-white" (click)="logout()">Logout</button>
        </li>

      </ul>
    </div>
  </div>
</nav>
