.navbar-brand {
  margin-left: 20px;
}

.nav-link-hover:hover {
  color: #0056b3;
  transition: color 0.3s;
}

.icon-margin {
  margin-right: 8px;
}

.navbar-brand-custom {
  font-size: 20px;
}

.brand-logo {
  max-width: 100px;
  height: auto;
  max-height: 30px;
  margin-top: -5px;
}

.nav-item-margin-right {
  margin-right: 10px;
}
