<nav class="navbar navbar-expand-sm navbar-light bg-primary" style="padding-top: 0; padding-bottom: 0; line-height: 50px; max-height: 50px">
  <a class="navbar-brand text-white ml-3 align-middle" href="#" style="font-size: 20px;">
    <img src="../../assets/APIMe-2.png" alt="Brand logo" class="mr-2" style="max-width: 100px; height: auto; max-height: 30px; margin-top: -5px">
    APIMe!
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mr-3" *ngIf="isAdmin && isUserAuthenticated">
      <li class="nav-item active">
        <a class="nav-link text-white d-flex align-items-center" href="#"><fa-icon [icon]="faMap" class="icon-margin"></fa-icon>Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white d-flex align-items-center" href="#"><fa-icon [icon]="faThLarge" class="icon-margin"></fa-icon>Sections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white d-flex align-items-center" href="#"><fa-icon [icon]="faUsers" class="icon-margin"></fa-icon>Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white d-flex align-items-center" href="#"><fa-icon [icon]="faFileText" class="icon-margin"></fa-icon>Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white d-flex align-items-center" href="#"><fa-icon [icon]="faHistory" class="icon-margin"></fa-icon>Routes Log</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mr-3" *ngIf="!isAdmin && isUserAuthenticated">
      <li class="nav-item active">
        <a class="nav-link text-white d-flex align-items-center" href="#"><fa-icon [icon]="faMap" class="icon-margin"></fa-icon>Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white d-flex align-items-center" href="#"><fa-icon [icon]="faFileText" class="icon-margin"></fa-icon>Reports</a>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto mr-3" *ngIf="!isAdmin && !isUserAuthenticated">
      <li class="nav-item active">
        <a class="nav-link text-white d-flex align-items-center" href="#"><fa-icon [icon]="faBook" class="icon-margin"></fa-icon>Documentation</a>
      </li>
    </ul>





    <div class=" navbar-collapse justify-content-end" id="navbarNav">
      <ul *ngIf='!isUserAuthenticated' class="navbar-nav mr-3 ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['authentication/login']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Login</a>
        </li>
        <li class="nav-item" style="margin-right: 10px;">
          <a class="nav-link text-white" [routerLink]="['authentication/register']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Register</a>
        </li>
      </ul>


      <ul *ngIf='isUserAuthenticated' class="navbar-nav mr-3 ml-auto">
        <li class="nav-item">
          <a class="btn btn-link text-white nav-link nav-link-hover d-flex align-items-center" [routerLink]="['account/profile']">
            <i class="fa fa-user mr-1"></i>Profile
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-link text-white" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>






  </div>
</nav>
