.navbar-brand {
  margin-left: 20px;
}

.nav-link-hover:hover {
  color: #0056b3;
  transition: color 0.3s;
}

.icon-margin {
  margin-right: 8px;
}

.navbar-brand-custom {
  font-size: 20px;
}

.brand-logo {
  max-width: 100px;
  height: auto;
  max-height: 30px;
  margin-top: -5px;
}

.nav-item-margin-right {
  margin-right: 10px;
}

#auth_nav{
  margin-left: auto
}

.nav-item button {
  margin-top: 8px;
  margin-left: 0px;
  text-decoration: none;
  color: inherit;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .nav-item button {
    padding-left: 20px;
  }
}
