.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 50px;
}

.form-control {
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  box-shadow: none;
  background-color: rgb(237, 244, 255);
}

  .form-control:focus {
    box-shadow: none;
    border-color: rgb(13, 110, 253);
  }

.btn {
  border-radius: 5px;
  background-color: rgb(13, 110, 253);
  border: none;
  color: white;
  margin-top: 20px;
}

  .btn:hover {
    background-color: #2c3e50;
  }

.blue-box {
  background-color: rgb(13, 110, 253);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: .3em;
  font-size: 26px;
}

p {
  color: red;
}

.actions {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .container{
    width: 100%;
  }

  #login_button{
    margin-right: 30px;
  }
}
