<!-- add-edit-section.component.html -->
<form [formGroup]="sectionForm" (ngSubmit)="onSave()">
  <h1 mat-dialog-title>{{ sectionForm.controls.id.value ? 'Edit' : 'Add' }} Section</h1>
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Section Name</mat-label>
      <input matInput type="text" formControlName="sectionName" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Access Code</mat-label>
      <input matInput type="text" formControlName="accessCode" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!sectionForm.valid">Save</button>
    <button mat-raised-button color="secondary" type="button" (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
