<div class="container">
	<mat-card class="profile-card">
		<mat-card-header>
			<mat-card-title>Profile</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="professorProfileForm" (ngSubmit)="onSave(professorProfileForm.value)">
				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input formControlName="email" matInput type="email" [value]="professor?.email">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>First Name</mat-label>
					<input formControlName="firstName" matInput type="text" [value]="professor?.firstName">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Last Name</mat-label>
					<input formControlName="lastName" matInput type="text" [value]="professor?.lastName">
				</mat-form-field>
				<div class="form-actions">
					<button mat-raised-button color="primary" type="submit">Save</button>
				</div>
			</form>
			<mat-snack-bar-container></mat-snack-bar-container>
		</mat-card-content>
	</mat-card>
</div>
