.route-card {
  margin-top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-card-header {
  padding-bottom: 1rem;
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-title {
  font-size: 1.5rem !important;
  margin-bottom: 0.2rem;
}

.card-subtitle {
  margin-bottom: 0.7rem;
}

.mat-card-content {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.mat-card-actions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-btn {
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin-right: 0.4rem !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
