<mat-card class="route-card">
  <mat-card-header>
    <mat-card-title class="card-title">{{ route.name }}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">{{ route.routeTypeName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Description: {{ route.description }}</p>
    <p>Data Table: {{ route.dataTableName }}</p>
    <p *ngIf="isAdmin && isUserAuthenticated">Visible: {{ route.isVisible ? 'Yes' : 'No' }}</p>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="isAdmin && isUserAuthenticated">
      <button mat-stroked-button color="primary" (click)="editRoute()" class="card-btn">Edit</button>
      <button mat-stroked-button color="warn" (click)="deleteRoute()" class="card-btn">Delete</button>
    </div>
    <button mat-raised-button color="primary" (click)="onTest()">Test</button>
  </mat-card-actions>
</mat-card>
