<form [formGroup]="routeForm" (ngSubmit)="submitForm()">
  <h1 mat-dialog-title>{{ data ? 'Edit' : 'Add' }} Route</h1>
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Route Type</mat-label>
      <mat-select formControlName="routeTypeId" required>
        <mat-option *ngFor="let routeType of routeTypes" [value]="routeType.id">{{ routeType.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Data Table</mat-label>
      <mat-select formControlName="dataTableName" required>
        <mat-option *ngFor="let dataSource of dataSources" [value]="dataSource.name">{{ dataSource.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="slide-toggle-container">
      <label>Visible</label>
      <mat-slide-toggle formControlName="isVisible"></mat-slide-toggle>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button class="save-button" type="submit" [disabled]="!routeForm.valid">Save</button>
    <button mat-raised-button class="cancel-button" type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
